<form
  (ngSubmit)="registerUser(firstName.value, lastName.value, userName.value, email.value,  password.value); registrationForm.resetForm()"
  class="example-container" #registrationForm="ngForm">
  <div class="fullName">
    <mat-form-field class="firstName">
      <input ngModel matInput type="text" placeholder="First Name" name="firstName" #firstName required>
    </mat-form-field>
    <mat-form-field class="lastName">
      <input ngModel matInput type="text" placeholder="Last Name" name="lastName" #lastName required>
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width">
    <input ngModel matInput type="text" placeholder="User Name" name="userName" #userName required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input ngModel matInput type="email" placeholder="Email" name="email" #email required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input ngModel matInput type="password" placeholder="Password" name="password" #password
           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
  </mat-form-field>
  <button mat-button type="submit" [disabled]="registrationForm.form.invalid">Register</button>
</form>
